<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DownstreamFilePath" value="C:\Downstream\" />
    <!-- Change this file path if you need to specify another folder -->
    <add key="Email" value="Joel.Mewton@va.gov" />
    <!-- Change this to your email address -->
    <add key="OrchestratorListeningPort" value="2702"/>
    <add key="ServerListeningPort" value="2702"/>
    <add key="ServiceType" value="OrchestratorService"/>
    <add key="SqlProvider" value="Oracle"/>
    <add key="SqlConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=21))(CONNECT_DATA=(SID=sid)));User ID=username;Password=pword;"/>
    <add key="QuerySvcURL" value="http://127.0.0.1/mdo/QuerySvc.svc"/>
    <add key="CronSchedule" value="1440" /> <!-- time in minutes for cron scheduler to sleep between parsing schedules -->
    <add key="VhaSitesFilePath" value="resources/xml/VhaSites.xml" />
  </appSettings>
</configuration>