<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DownstreamFilePath" value="C:\Downstream\" />
    <add key="Email" value="Joel.Mewton@va.gov" /> <!-- Change this to your email address -->
    <add key="OrchestratorHostName" value="127.0.0.1"/>
    <add key="OrchestratorListeningPort" value="2702"/>
    <add key="ServerHostName" value="127.0.0.1"/> 
    <add key="QuerySvcURL" value="http://127.0.0.1/mdo/QuerySvc.svc"/>
    <add key="FileDaoType" value="LOCAL_FILE" />
    <add key="NetworkUserDomain" value="domain" />
    <add key="NetworkUserName" value="uname" />
    <add key="NetworkUserPassword" value="pwd!" />
    <add key="VistaDaoType" value="WcfVistaDao" />
    <add key="WorkerThreads" value="8" />
    <add key="CreateLocalTextReport" value="true" />
    <add key="ExtractorSleepTime" value="00:00:30" /> <!-- HH:MM:SS time to sleep before checking if a extraction job has completed -->
    <add key="SeedStartDate" value="3130101" />
    <add key="ServiceType" value="CdwBcmaService"/>
    <add key="BcmaSite" value="640"/>
    <add key="BcmaStartIen" value="42092010"/>
    <add key="ApproxBcmaStartDate" value="2012-12-15"/>
    <add key="BcmaEndIen" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>