<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Change this file path if you need to specify another folder -->
    <!--<add key="DownstreamFilePath" value="C:\Downstream\" />-->

    <add key="DownstreamFilePath" value="\\127.0.0.1\Data\Downstream\" />
    <add key="NetworkUserDomain" value="domain" />
    <add key="NetworkUserName" value="username" />
    <add key="NetworkUserPassword" value="password" />

    <add key="Email" value="Joel.Mewton@va.gov" /> <!-- Change this to your email address -->
    <add key="OrchestratorHostName" value="127.0.0.1"/>
    <add key="ServerListeningPort" value="2702"/>
    <add key="ServiceType" value="OrchestratorService"/>
    <add key="SqlProvider" value="SQLite"/>
    <add key="SqlConnectionString" value="Data Source=C:\Downstream\resources\data\DownstreamTestingDB.sqlite"/>
    <add key="QuerySvcURL" value="http://127.0.0.1/mdo/QuerySvc.svc"/>
    <add key="PackageMappingConfigFilePath" value="PackageMapping.conf" />
    <add key="VhaSitesFilePath" value="resources/xml/VhaSites.xml" />
    <add key="SeedStartDate" value="3130101" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>